---
const {} = Astro.props;
---

<footer>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">

    <div
      class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12 border-t border-gray-200 dark:border-slate-800"
    >
      <div class="col-span-12 lg:col-span-3">
        <div class="mb-2">
          <a class="inline-block font-bold text-xl" href="/">Ibrahim Cesar</a>
        </div>
        <div class="text-sm text-gray-600">
          <a
            class="text-gray-600 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
            rel="noopener noreferrer"
            title="Code for this blog & content!"
            target="_blank"
            href="https://github.com/ibrahimcesar/blog"
            ><span class="external">Source Code</span>
          </a>  ·
          <a
            class="text-gray-600 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
            title="Terms of Use"
            href="/terms-and-privacy"
            >Terms and Privacy Policy
          </a>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-12 gap-4 gap-y-8">

      <div class="col-span-6 md:col-span-2 lg:col-span-2">

        <div class="text-gray-800 dark:text-gray-300 font-medium mb-2">
          Find me
        </div>
        <ul class="text-sm">
            <a
              class="text-gray-600 dark:text-gray-400 transition duration-150 ease-in-out"
              rel="noopener noreferrer"
              target="_blank"
              title="Follow me on Twitter"
              href="https://twitter.com/ibrahimcesar"
              ><span class="external">Twitter</span>
            </a> ·
            <a
              class="text-gray-600 dark:text-gray-400 transition duration-150 ease-in-out"
              rel="noopener noreferrer"
              target="_blank"
              title="My repositories & contributions"
              href="https://github.com/ibrahimcesar"
              ><span class="external">GitHub</span>
            </a> ·
            <a
              class="text-gray-600 dark:text-gray-400 transition duration-150 ease-in-out"
              rel="noopener noreferrer"
              target="_blank"
              title="My professional experience"
              href="https://www.linkedin.com/in/ibrahimcesar/?locale=en_US"
              ><span class="external">LinkedIn</span>
            </a> ·
            <a
              class="text-gray-600 dark:text-gray-400 transition duration-150 ease-in-out"
              rel="noopener noreferrer"
              target="_blank"
              title="View my Badges on Credly"
              href="https://www.credly.com/users/ibrahimcesar/badges"
              ><span class="external">Credly</span>
            </a>
        </ul>
      </div>

      <div class="col-span-6 md:col-span-2 lg:col-span-2">
        <div class="text-gray-800 dark:text-gray-300 font-medium mb-2">
          Pages
        </div>
        <ul class="text-sm">
            <a
              class="text-gray-600  dark:text-gray-400 transition duration-150 ease-in-out"
              href="/talks"
              >Talks
            </a> ·
            <a
              class="text-gray-600  dark:text-gray-400 transition duration-150 ease-in-out"
              href="/whoiam"
              >About/Sobre
            </a>
        </ul>
      </div>

      <div class="col-span-12 md:col-span-8 lg:col-span-8">

          <div class="inline-block">
            <a
              href="https://www.credly.com/badges/d01a5f09-39af-4848-91e4-fd93c379429b/public_url"
              target="_blank"
              title="Badge AWS Certified Solutions Architect – Professional" rel="noopener noreferrer"
              target="_blank"
            >
              <img
                src="https://user-images.githubusercontent.com/509054/163974327-950cf4d2-2f66-4a3c-b0de-2d043e97da98.png"
                alt="AWS Certified Solutions Architect – Professional" width="100px"
              >
            </a>
          </div>

           <div class="inline-block">
            <a
              href="https://www.credly.com/badges/9d0b63e9-dc89-432c-b4cd-57342fb6e294/public_url"
              target="_blank"
              title="AWS Certified DevOps Engineer – Professional" rel="noopener noreferrer"
              target="_blank"
            >
              <img
                src="https://user-images.githubusercontent.com/509054/236595039-418df7a9-080b-4ca6-9e44-df90371a6dc9.png"
                alt="AWS Certified DevOps Engineer – Professional" width="100px"
              >
            </a>
          </div>
         
          <div class="inline-block">
            <a
              href="https://www.credly.com/badges/f4fedbbf-cbec-4d39-a720-c7ca55d39032/public_url"
              target="_blank"
              title="AWS Certified Security – Specialty" rel="noopener noreferrer"
              target="_blank"
            >
              <img
                src="https://user-images.githubusercontent.com/509054/195915470-c99aa7c9-9e5e-48e4-8e48-f7a76be042ae.png"
                alt="AWS Certified Security – Specialty" width="100px"
              >
            </a>
          </div>

          <div class="inline-block">
            <a
              href="https://www.credly.com/badges/1bdb457f-b469-43c3-9e0e-24b221f12794/public_url"
              target="_blank"
              title="Badge AWS Certified Solutions Architect – Associate" rel="noopener noreferrer"
              target="_blank"
            >
              <img
                src="https://user-images.githubusercontent.com/509054/163974636-84a0a90b-0290-443e-8682-309af7e8b17a.png"
                alt="AWS Certified Solutions Architect – Associate" width="100px"
              >
            </a>
          </div>

          <div class="inline-block">
            <a
              href="https://www.credly.com/badges/1bdb457f-b469-43c3-9e0e-24b221f12794/public_url"
              target="_blank"
              title="Badge AWS Certified Solutions Architect – Associate"
              rel="noopener noreferrer"
              target="_blank"
            >
              <img src="https://user-images.githubusercontent.com/509054/187105674-b59dadfa-f5a9-44ff-a4ca-82cb33418617.png"
              alt="AWS Certified Developer – Associate" 
              width="100px">
            </a>
          </div>

          <div class="inline-block">
            <a
              href="https://www.credly.com/badges/8cd60a1b-b130-43b1-8cf4-442573171da6/public_url"
              target="_blank"
              title="Well-Architected Proficient"
              rel="noopener noreferrer"
              target="_blank"
              >
                <img
                src="https://user-images.githubusercontent.com/509054/185424004-6d65981d-ce54-4d7f-8129-f2d452a20e8e.png" alt="Well-Architected Proficiente"
                width="100px"
                >
            </a>
          </div>

          <div class="inline-block md:hidden lg:hidden">
            <a
              href="https://www.credly.com/badges/d1ddf3d6-95af-4246-9bb9-7e50e0530c11/public_url"
              target="_blank"
              title="Badge AWS Certified Cloud Practitioner"
              rel="noopener noreferrer"
              target="_blank"
              >
                <img
                src="https://user-images.githubusercontent.com/509054/163974726-600afdfa-d161-4013-824d-20e168dc5efc.png" alt="Badge AWS Certified Cloud Practitioner"
                width="100px"
                >
            </a>
          </div>

          <div class="inline-block">
            <a
              href="https://www.credly.com/badges/1eb5e7a1-8b22-422a-83db-1a535dfe8b43/public_url"
              target="_blank"
              title="AWS Technology: Serverless"
              rel="noopener noreferrer"
              target="_blank"
              >
                <img
                src="https://user-images.githubusercontent.com/509054/205751290-899faacb-da63-45ec-ab31-e986db511f37.png" alt="AWS Technology: Serverless"
                width="100px"
                >
            </a>
          </div>

            <div class="inline-block md:hidden">
            <a
              href="https://www.credly.com/badges/41622b3b-defc-4ee0-89a1-ce09ec30c8a5"
              target="_blank"
              title="AWS Learning: Storage Technologist"
              rel="noopener noreferrer"
              target="_blank"
              >
                <img
                src="https://user-images.githubusercontent.com/509054/212097617-84b734ae-3c15-4535-bdea-f29ce7e4df34.png" alt="AWS Learning: Storage Technologist"
                width="100px"
                >
            </a>
          </div>

          <div class="inline-block md:hidden">
            <a
              href="https://www.credly.com/badges/36bfeb46-c3b4-47d1-b290-8a12fe9af94f/public_url"
              target="_blank"
              title="AWS Learning: Storage Core"
              rel="noopener noreferrer"
              target="_blank"
              >
                <img
                src="https://user-images.githubusercontent.com/509054/212096610-b157cc71-ab6b-4114-9b09-0e73eeb001d6.png" alt="AWS Learning: Storage Core"
                width="100px"
                >
            </a>
          </div>


      </div>
    </div>


    <div class="md:flex md:items-center md:justify-between py-8">
      <div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
        &copy; 2020 — {new Date().getFullYear()} <em>All rights reserved</em>. Made with
      <span role="img" aria-label="pretzel">&nbsp;🥨&nbsp;</span>
      in São Paulo, Brazil. Built with 🚀 <a rel="noopener noreferrer" href="https://astro.build" target="_blank" class="underline"><span class="external">Astro v2.0.17</span></a> hosted with <a rel="noopener noreferrer" href="https://aws.amazon.com/amplify/" target="_blank" class="underline"><span class="external">AWS with Amplify</span></a>. This blog represents my own view points and not of my employer, Amazon Web Services (AWS).
      </div>
    </div>
  </div>
</footer>
