---
import { IconArrowRight } from "~/components/icons";
const {} = Astro.props;
---

<footer>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div
      class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12 border-t border-gray-200 dark:border-slate-800"
    >
      <div class="col-span-12 lg:col-span-3">
        <div class="mb-2">
          <a class="inline-block font-bold text-xl" href="/">IbrahimCesar.cloud</a>
        </div>
        <div class="text-sm text-gray-600">
          <a
            class="text-gray-600 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
            title="Terms of Use"
            href="/terms"
            >Terms
          </a> ·
          <a
            class="text-gray-600 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
            title="Privacy Policy"
            href="/privacy-policy"
            >Privacy Policy</a> ·
          <a
            class="text-gray-600 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
            rel="noopener noreferrer"
            title="Code for this blog & content!"
            target="_blank"
            href="https://github.com/ibrahimcesar/blog"
            >Source Code
          </a>
          </a>
        </div>
      </div>
      <div class="col-span-6 md:col-span-3 lg:col-span-3">
        <div class="text-gray-800 dark:text-gray-300 font-medium mb-2">
          Find me
        </div>
        <ul class="text-sm">
            <a
              class="text-gray-600 dark:text-gray-400 transition duration-150 ease-in-out"
              rel="noopener noreferrer"
              target="_blank"
              title="Follow me on Twitter"
              href="https://twitter.com/ibrahimcesar"
              >Twitter
            </a> ·
            <a
              class="text-gray-600 dark:text-gray-400 transition duration-150 ease-in-out"
              rel="noopener noreferrer"
              target="_blank"
               title="My repositories & contributions"
              href="https://github.com/ibrahimcesar"
              >GitHub
            </a> ·
            <a
              class="text-gray-600 dark:text-gray-400 transition duration-150 ease-in-out"
              rel="noopener noreferrer"
              target="_blank"
              title="My professional experience"
              href="https://www.linkedin.com/in/ibrahimcesar/?locale=en_US"
              >LinkedIn
            </a> ·
            <a
              class="text-gray-600 dark:text-gray-400 transition duration-150 ease-in-out"
              rel="noopener noreferrer"
              target="_blank"
              title="View my Badges on Credly"
              href="https://www.credly.com/users/ibrahimcesar/badges"
              >Credly
            </a>
        </ul>
      </div>
      <div class="col-span-6 md:col-span-3 lg:col-span-3">
        <div class="text-gray-800 dark:text-gray-300 font-medium mb-2">
          Pages
        </div>
        <ul class="text-sm">
            <a
              class="text-gray-600  dark:text-gray-400 transition duration-150 ease-in-out"
              href="/talks"
              >Talks
            </a> ·
            <a
              class="text-gray-600  dark:text-gray-400 transition duration-150 ease-in-out"
              href="/about"
              >About
            </a> ·
            <a
              class="text-gray-600  dark:text-gray-400 transition duration-150 ease-in-out"
              href="/uses"
              >Uses
            </a>
        </ul>
      </div>

      <div class="col-span-12 md:col-span-3 lg:col-span-3">
        <div class="text-gray-800 dark:text-gray-300 font-medium mb-2">
          Subscribe to <b class="cloud-color">explicity:any</b>
        </div>
        <p class="text-sm text-gray-600 dark:text-gray-400 mb-4">
          Get the latest news and articles to your inbox every month. Yes, the name is a TypeScript reference.
        </p>
        <form>
          <div class="flex flex-wrap mb-4">
            <div class="w-full">
              <label class="block text-sm sr-only" for="newsletter"
                >Email
              </label>
              <div class="relative flex items-center max-w-xs">
                <input
                  id="newsletter"
                  type="email"
                  class="form-input w-full text-gray-800 px-3 py-2 pr-12 text-sm border rounded-sm dark:bg-transparent dark:border-slate-600 dark:text-gray-400"
                  placeholder="Your email"
                />
                <button
                  type="submit"
                  class="absolute inset-0 left-auto"
                  aria-label="Subscribe"
                >
                  <span
                    class="absolute inset-0 right-auto w-px -ml-px my-2 bg-gray-300 dark:bg-slate-600"
                    aria-hidden="true"></span>

                  <IconArrowRight
                    class="w-5 h-5 text-blue-600 mx-3 flex-shrink-0"
                  />
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="md:flex md:items-center md:justify-between py-4 md:py-8">
      <div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
        &copy; 2020 — {new Date().getFullYear()} <em>All rights reserved</em>. Made with
      <span role="img" aria-label="pretzel">&nbsp;🥨&nbsp;</span>
      in São Paulo, Brazil. Made with <a rel="noopener noreferrer" href="https://astro.build" target="_blank" class="underline">Astro</a> hosted on <a rel="noopener noreferrer" href="https://aws.amazon.com/amplify/" target="_blank" class="underline">AWS with Amplify</a>.
      </div>
    </div>
</footer>
