---
import { IconArrowRight } from "~/components/icons";
const {} = Astro.props;
---

<footer>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div
      class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12 border-t border-gray-200 dark:border-slate-800"
    >
      <div class="col-span-12 lg:col-span-3">
        <div class="mb-2">
          <a class="inline-block font-bold text-xl" href="/">IbrahimCesar.cloud</a>
        </div>
        <div class="text-sm text-gray-600">
          <a
            class="text-gray-600 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
            rel="noopener noreferrer"
            title="Code for this blog & content!"
            target="_blank"
            href="https://github.com/ibrahimcesar/blog"
            >Source Code
          </a>  ·
          <a
            class="text-gray-600 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
            title="Terms of Use"
            href="/terms-and-privacy"
            >Terms and Privacy Policy
          </a>
        </div>
      </div>
      <div class="col-span-6 md:col-span-2 lg:col-span-2">
        <div class="text-gray-800 dark:text-gray-300 font-medium mb-2">
          Find me
        </div>
        <ul class="text-sm">
            <a
              class="text-gray-600 dark:text-gray-400 transition duration-150 ease-in-out"
              rel="noopener noreferrer"
              target="_blank"
              title="Follow me on Twitter"
              href="https://twitter.com/ibrahimcesar"
              >Twitter
            </a> ·
            <a
              class="text-gray-600 dark:text-gray-400 transition duration-150 ease-in-out"
              rel="noopener noreferrer"
              target="_blank"
              title="My repositories & contributions"
              href="https://github.com/ibrahimcesar"
              >GitHub
            </a> ·
            <a
              class="text-gray-600 dark:text-gray-400 transition duration-150 ease-in-out"
              rel="noopener noreferrer"
              target="_blank"
              title="My professional experience"
              href="https://www.linkedin.com/in/ibrahimcesar/?locale=en_US"
              >LinkedIn
            </a> ·
            <a
              class="text-gray-600 dark:text-gray-400 transition duration-150 ease-in-out"
              rel="noopener noreferrer"
              target="_blank"
              title="View my Badges on Credly"
              href="https://www.credly.com/users/ibrahimcesar/badges"
              >Credly
            </a>
        </ul>
      </div>
      <div class="col-span-6 md:col-span-2 lg:col-span-2">
        <div class="text-gray-800 dark:text-gray-300 font-medium mb-2">
          Pages
        </div>
        <ul class="text-sm">
            <a
              class="text-gray-600  dark:text-gray-400 transition duration-150 ease-in-out"
              href="/talks"
              >Talks
            </a> ·
            <a
              class="text-gray-600  dark:text-gray-400 transition duration-150 ease-in-out"
              href="/about"
              >About
            </a> <!-- ·
            <a
              class="text-gray-600  dark:text-gray-400 transition duration-150 ease-in-out"
              href="/uses"
              >Uses
            </a> -->
        </ul>
      </div>

      <div class="col-span-12 md:col-span-5 lg:col-span-5">
          <div class="inline-block">
            <a
              href="https://www.credly.com/badges/d01a5f09-39af-4848-91e4-fd93c379429b/public_url" 
              target="_blank"
              title="Badge AWS Certified Solutions Architect – Professional" rel="noopener noreferrer"
              target="_blank"
            >
              <img
                src="https://user-images.githubusercontent.com/509054/163974327-950cf4d2-2f66-4a3c-b0de-2d043e97da98.png" 
                alt="AWS Certified Solutions Architect – Professional" width="100px"
              >
            </a>
          </div>
          <div class="inline-block">
            <a
              href="https://www.credly.com/badges/1bdb457f-b469-43c3-9e0e-24b221f12794/public_url" 
              target="_blank"
              title="Badge AWS Certified Solutions Architect – Associate" rel="noopener noreferrer"
              target="_blank"
            >
              <img
                src="https://user-images.githubusercontent.com/509054/163974636-84a0a90b-0290-443e-8682-309af7e8b17a.png"
                alt="AWS Certified Solutions Architect – Associate" width="100px"
              >
            </a>
          </div>
          <div class="inline-block">
            <a
              href="https://www.credly.com/badges/1bdb457f-b469-43c3-9e0e-24b221f12794/public_url"
              target="_blank" 
              title="Badge AWS Certified Solutions Architect – Associate"
              rel="noopener noreferrer"
              target="_blank"
            >
              <img src="https://user-images.githubusercontent.com/509054/187105674-b59dadfa-f5a9-44ff-a4ca-82cb33418617.png"
              alt="AWS Certified Developer – Associate" 
              width="100px">
            </a>
          </div>
          <div class="inline-block">
            <a
              href="https://www.credly.com/badges/8cd60a1b-b130-43b1-8cf4-442573171da6/public_url"
              target="_blank"
              title="Well-Architected Proficient"
              rel="noopener noreferrer"
              target="_blank"
              >
                <img
                src="https://user-images.githubusercontent.com/509054/185424004-6d65981d-ce54-4d7f-8129-f2d452a20e8e.png" alt="Well-Architected Proficiente"
                width="100px"
                >
            </a>
          </div>
      </div>
    </div>
    <div class="md:flex md:items-center md:justify-between py-4 md:py-8">
      <div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
        &copy; 2020 — {new Date().getFullYear()} <em>All rights reserved</em>. Made with
      <span role="img" aria-label="pretzel">&nbsp;🥨&nbsp;</span>
      in São Paulo, Brazil. Made with <a rel="noopener noreferrer" href="https://astro.build" target="_blank" class="underline">Astro</a> hosted on <a rel="noopener noreferrer" href="https://aws.amazon.com/amplify/" target="_blank" class="underline">AWS with Amplify</a>.
      </div>
    </div>
</footer>
