---
import HighlightedPost from "./HighlightedPost.astro";

import { getPosts } from "~/utils/getPosts";

const posts = await getPosts();

const featured = posts.filter(post => post.featured)

const { } = Astro.props;
---

<section class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
  <div class="flex flex-col mb-6 lg:justify-between lg:flex-row md:mb-8">
    <h2
      class="max-w-lg mb-2 font-sans text-3xl font-bold tracking-tight sm:text-3xl sm:leading-none lg:mb-5 group"
    >
      <span class="inline-block mb-1 sm:mb-4"
        >☁️ Olá! Hello! Hola!<br class="hidden md:block" />Cloud, Code and Everything Else
      </span>
    </h2>
    <p class="text-gray-700 dark:text-slate-200 lg:text-sm lg:max-w-md">
      Builder, eventually consistent. I have A LOT of opinions. But they are all my own, without exceptions. This digital garden is bilingual, with posts in English and Brazilian Portuguese.
    </p>
  </div>

  <div class="grid gap-6 row-gap-5 md:grid-cols-2 lg:grid-cols-4 -mb-6">
    {
      featured.map((post) => (
       <HighlightedPost post={post} />
      ))
    }
  </div>
</section>
