---
---

<span
  class="self-center ml-2 text-2xl font-extrabold text-gray-900 whitespace-nowrap dark:text-white"
>
  <span class="cloud-color">Ibrahim Cesar</span><span
    class="hidden md:inline-block __blinker"
    >, Solutions Architect
  </span>
</span>
