---
const { post } = Astro.props;

const url = post.slug;
const title = post.data.title;
const description = post.data.description;
---

<section aria-label="share this post" class="text-center mt-4">
  <header>
    <h1 class="text-sm font-mono uppercase font-bold">Share this post</h1>
    <a
      href={`https://www.linkedin.com/shareArticle?url=https://ibrahimcesar.cloud/blog/${url}&utm_source=ibrahimcesar.cloud&utm_medium=web&utm_campaign=post&utm_id=s-linkedin`}
      class="inline-block mr-6 social"
      rel="noopener noreferrer"
      target="_blank"
      title={`Share ${title} on LinkedIn`}
    >
        <img src="/icon-linkedin.png" style="max-height: 3rem" />
  </a>
  </header>
</section>
