---
import Layout from "~/layouts/PageLayout.astro";

import { SITE } from "~/config.mjs";

import HighlightedPosts from "~/components/widgets/HighlightedPosts.astro";

const title = `${SITE.name} — Solutions Architect`;
const description =
  "@ibrahimcesar — Builder, eventually consistent. Personal blog with posts The Cloud, Code and Everything Else!";
const canonical = new URL("", Astro.site);
---

<Layout meta={{ title, description, canonical }}>
  <main>
    <HighlightedPosts />
  </main>
</Layout>
