---
import Layout from "~/layouts/PageLayout.astro";

import { SITE } from "~/config.mjs";

import HighlightedPosts from "~/components/widgets/HighlightedPosts.astro";

const title = `${SITE.name} — Solutions Architect`;
const description =
  "Helping organizations transform their cloud infrastructure from good to exceptional. AWS Well-Architected team member sharing insights on cloud architecture, serverless, and software engineering.";
const canonical = new URL("", Astro.site);
---

<Layout meta={{ title, description, canonical }}>
  <main>
    <HighlightedPosts />
  </main>
</Layout>
