---
import Layout from "~/layouts/PageLayout.astro";
import TalkListItem from "~/components/widgets/TalkListItem.astro";

import { getTalks } from "~/utils/getTalksCollection";

const page = await getTalks();

const { } = Astro.props;
---

<Layout meta={}>
<main>
<section class="px-4 sm:px-6 py-8 sm:py-16 lg:py-20 mx-auto max-w-2xl sec-talks" aria-label="Talks">
  <header>
    <h1
      class="text-center text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-8 md:mb-16"
    >
      {"{"} Public Talks {"}"}
    </h1>
  </header>
  <ul>
    {
      page.map((talk) => (
        <li class="mb-10 md:mb-16">
          <TalkListItem talk={talk} />
        </li>
      ))
    }
  </ul>
</section>
  </main>
</Layout>

