@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded border border-transparent font-medium text-center text-base leading-snug transition py-3 px-6 shadow-lg ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2;
  }
}

:root {
  --cloud: #ec7211;
  --cloud-blue: #527fff;
  --berry-medium: #c9208a;
  --green-apple: #18ab4b;
  --plum-medium: #504bab;
}

.cloud-color {
  color: var(--cloud-blue);
}
