@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded border border-transparent font-medium text-center text-base leading-snug transition py-3 px-6 shadow-lg ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2;
  }
}

:root {
  --cloud: #ec7211;
  --cloud-blue: #527fff;
  --berry-medium: #c9208a;
  --green-apple: #18ab4b;
  --plum-medium: #504bab;
}

.cloud-color,
a:hover {
  color: var(--cloud-blue);
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.__blinker::after {
    content: "|";
    -webkit-animation: blinker 1s linear infinite;
    animation: blinker 1s linear infinite;
}

.callout {
  position: relative;
  border-radius: 0 0.5rem 0.5rem 0;
  border: 1px solid var(--berry-medium);
  border-left: 0;
}

.callout__icon {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 0.25rem;
    color: var(--berry-medium);
    margin-left: 2px;
    font-size: 3rem;
}

.callout__content {
  padding: 1rem;
  border-left: 4px solid var(--berry-medium);
}

blockquote {
    font-style: italic;
    padding-left: 2.25em;
    border-left: 10px solid var(--plum-medium) !important;
}

blockquote > footer {
    text-align: right !important;
    font-size: 0.875em;
}
